
.DS_Store
c04/.DS_Store
c07/.DS_Store
c08/.DS_Store
rush00/.DS_Store
rush01/.DS_Store
shell00/ex00/.DS_Store
shell00/ex01/.DS_Store
shell00/ex03/.DS_Store
shell00/ex07/.DS_Store
shell00/ex09/.DS_Store
shell01/ex02/.DS_Store
shell01/ex05/.DS_Store
